body{
  background-color: rgb(186, 221, 235);
}
.head{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 2px solid whitesmoke;
  background: linear-gradient(240deg,rgb(186, 195, 232), rgba(141, 175, 202, 0.367), rgb(173, 178, 229)) ;
}
.navbar ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px;
}
.link{
  flex-wrap: wrap;
  text-decoration: none;
  color: black;
}
.link:hover{
  background-color: whitesmoke;
  color: skyblue;
  border-radius: 6px;
}
.card table{
  margin: 20px;
}
h1{
  text-align: center;
  text-shadow: 2px 1px 3px yellow;
  text-decoration: underline;
}
.subcart{
  border: 1px solid gray;
  width: 300px;
  padding: 15px;
  border-radius: 20px 50px;
  background-color: #ffffff67 ;
}
.cart{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap : 20px;
}
.todo img{
  width: 250px;
  height: 300px;
  border-radius: 5px;
}
.todos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.todo{
  width: 300px;
}